
<script type="text/template" id="input-template">
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <div class="panel panel-default item-panel shadow-style-1 border-top-style-1" id="panel-input">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-copy" aria-hidden="true"></i> Copy</button>
                <button type="button" class="btn btn-primary btn-xs remove-panel-btn"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="editlabel" contenteditable="true" place-text="Editable Label"></label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              
              <form class="form-inline">
                <div class="form-group">
                  <label class="text-thin">Input type</label>
                  <select id="sorter" class="form-control">
                    <option class="select-opt"><a href="#"> Text</a></option>
                    <option class="select-opt"><a href="#"> Number</a></option>
                    <option class="select-opt"><a href="#"> Email</a></option>
                    <option class="select-opt"><a href="#"> Password</a></option>
                  </select>
                </div>
              </form>

                
            </div>
            <div class="col-md-3 col-md-offset-3">
               <div class="checkbox pull-right">
                  <label>
                    <input id="slider" type="checkbox" checked data-toggle="toggle">&nbsp;Required
                  </label>
               </div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="textarea-template">
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <div class="panel panel-default item-panel shadow-style-1 border-top-style-1" id="panel-textarea">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-copy" aria-hidden="true"></i> Copy</button>
                <button type="button" class="btn btn-primary btn-xs remove-panel-btn"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="editlabel" contenteditable="true" place-text="Editable Label"></label>
              <textarea class="form-control" rows="5" placeholder="Text here..."></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <div class="checkbox">
                  <label>
                    <input id="slider" type="checkbox" checked data-toggle="toggle"> Required
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="select-template">
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <div class="panel panel-default item-panel shadow-style-1 border-top-style-1" id="panel-select">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-copy" aria-hidden="true"></i> Copy</button>
                <button type="button" class="btn btn-primary btn-xs remove-panel-btn"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="editlabel" contenteditable="true" place-text="Editable Label"></label>
                <select id="sorter" class="form-control">
                  <option class="select-opt"><a href="#"> Choices</a></option>
                  <option class="select-opt"><a href="#"> Date</a></option>
                  <option class="select-opt"><a href="#"> Time</a></option>
                  <option class="select-opt"><a href="#"> Type</a></option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-md-6">
                 <div class="form-group">
                    <div class="input-group">
                       <input type="text" class="form-control" aria-label="...">
                       <span class="input-group-btn">
                        <button class="btn btn-default btn-transparent" type="button"><span class="fa fa-close text-danger"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </div>
                 <div class="form-group">
                    <div class="input-group">
                       <input type="text" class="form-control" aria-label="...">
                       <span class="input-group-btn">
                        <button class="btn btn-default btn-transparent" type="button"><span class="fa fa-close text-danger"></span></button>
                        </span>
                    </div><!-- /input-group -->
                 </div>
                 <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control" aria-label="...">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-transparent" type="button"><span class="fa fa-close text-danger"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </div>
              </div>
          </div>

          <div class="row">
            <div class="col-md-3">
               <div class="btn-group">
                  <button type="button" class="btn btn-primary btn-md">+ Add Option</button>
               </div>
            </div>
            <div class="col-md-3 col-md-offset-6">
               <div class="checkbox pull-right">
                  <label>
                    <input id="slider" type="checkbox" checked data-toggle="toggle">&nbsp;Required
                  </label>
               </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="radio-template">
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <div class="panel panel-default item-panel shadow-style-1 border-top-style-1" id="panel-radio">
        <div class="panel-body">
          
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-copy" aria-hidden="true"></i> Copy</button>
              <button type="button" class="btn btn-primary btn-xs remove-panel-btn"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
              <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></button>
            </div>
            
           <div class="row">
              <div class="col-md-12">
                 <div class="form-group">
                    <label>&nbsp; </label>
                    <input type="text" class="form-control" placeholder="Question">
                 </div>
              </div>
           </div>
           
           <div class="row">
              <div class="col-md-6">
                 <div class="form-group">
                    <div class="input-group">
                       <span class="input-group-addon">
                         <input type="radio" name="option-1" aria-label="...">
                       </span>
                       <input type="text" class="form-control" aria-label="...">
                       <span class="input-group-btn">
                        <button class="btn btn-default btn-transparent" type="button"><span class="fa fa-close text-danger"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </div>
                 <div class="form-group">
                    <div class="input-group">
                       <span class="input-group-addon">
                         <input type="radio" name="option-1" aria-label="...">
                       </span>
                       <input type="text" class="form-control" aria-label="...">
                       <span class="input-group-btn">
                        <button class="btn btn-default btn-transparent" type="button"><span class="fa fa-close text-danger"></span></button>
                        </span>
                    </div><!-- /input-group -->
                 </div>
                 <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="radio" name="option-1" aria-label="...">
                      </span>
                      <input type="text" class="form-control" aria-label="...">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-transparent" type="button"><span class="fa fa-close text-danger"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </div>
              </div>
           </div>
          
           <div class="row">
              <div class="col-md-3">
                 <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-md">+ Add Radio Button</button>
                 </div>
              </div>
              <div class="col-md-3 col-md-offset-6">
                 <div class="checkbox pull-right">
                    <label>
                      <input id="slider" type="checkbox" checked data-toggle="toggle">&nbsp;Required
                    </label>
                 </div>
              </div>
           </div>

        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="checkbox-template">
  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <div class="panel panel-default item-panel shadow-style-1 border-top-style-1" id="panel-checkbox">
        <div class="panel-body">
          
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-copy" aria-hidden="true"></i> Copy</button>
              <button type="button" class="btn btn-primary btn-xs remove-panel-btn"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
              <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></button>
            </div>
            
           <div class="row">
              <div class="col-md-12">
                 <div class="form-group">
                    <label>&nbsp; </label>
                    <input type="text" class="form-control" placeholder="Question">
                 </div>
              </div>
           </div>
           
           <div class="row">
              <div class="col-md-6">
                <div class="checkbox-options" >
                   <div class="form-group">
                      <div class="input-group">
                         <span class="input-group-addon">
                           <input type="checkbox" aria-label="...">
                         </span>
                         <input type="text" class="form-control" aria-label="...">
                         <span class="input-group-btn">
                          <button class="btn btn-default btn-transparent remove-checkbox-btn" type="button"><span class="fa fa-close text-danger"></span></button>
                        </span>
                      </div><!-- /input-group -->
                   </div>
                   <div class="form-group">
                      <div class="input-group">
                         <span class="input-group-addon">
                           <input type="checkbox" aria-label="...">
                         </span>
                         <input type="text" class="form-control" aria-label="...">
                         <span class="input-group-btn">
                          <button class="btn btn-default btn-transparent remove-checkbox-btn" type="button"><span class="fa fa-close text-danger"></span></button>
                          </span>
                      </div><!-- /input-group -->
                   </div>
                   <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <input type="checkbox" aria-label="...">
                        </span>
                        <input type="text" class="form-control" aria-label="...">
                        <span class="input-group-btn">
                          <button class="btn btn-default btn-transparent remove-checkbox-btn" type="button"><span class="fa fa-close text-danger"></span></button>
                        </span>
                      </div><!-- /input-group -->
                   </div>
                </div>
              </div>
           </div>
          
           <div class="row" id="checkbox-opt">
              <div class="col-md-3">
                  <button type="button" class="btn btn-primary btn-md add-checkbox-btn">+ Add Checkbox</button>
              </div>
              <div class="col-md-3 col-md-offset-6">
                 <div class="checkbox pull-right">
                    <label>
                      <input id="slider" type="checkbox" checked data-toggle="toggle">&nbsp;Required
                    </label>
                 </div>
              </div>
           </div>

        </div>
      </div>
    </div>
  </div>
</script>
                      