.text-white{
	color:#fff;
}

.input-transparent{
	border: none;
	box-shadow: none;
}

.no-round{
	border-radius:0;
}

/*=====Navbar=====*/

.navbar-default{
	border-radius: 0px;
	background-color: #354D62;
	border-color: transparent;
}

.navbar-default .navbar-nav>.active>a{
	color: #354D62;
}

.navbar-default .navbar-nav>li>a{
	color: white;
}

.navbar-default .navbar-nav>li>a:hover{
	color: white;
}

.navbar-default .navbar-collapse{
	border-color: #354D62;
}

.navprev{
	background-color: transparent;
	color: white;
	border: none;
	vertical-align: middle;
}
/*=====Login=====*/

.form-wrapper{
	margin-top: 150px;
}

.forget-form{
	margin-top: 10px;
}

.remember-form{
	margin-top: 5px;
}

/*=====My Form=====*/

.new-body{
	padding: 0px;
	height: 100px;
}

.panel-default{
	border-radius: 0px;
}

/*=====Panel Footer=====*/

.panel-footer{
	font-size: 12px;
	background-color: transparent;
}


/*======Create Form=====*/
.btn-add-question{
	/*background-color: #D7F2F7 !important;*/
	border-radius: 0;
	/*color: #383838 !important;*/
	border:none;
}

.btn-add-question:hover{
	/*background-color: #D7F2F7 !important;*/
	border-radius: 0;
	/*color: #383838 !important;*/
	border:none;
}

.btn-link{
	color: white;
	margin: 0;
}
.recent{
	font-size: 12px;
	background-color: #5d5d5d;
	background-color: #2c3d4b;
	border-radius: 0;
}

.form-name{
	border:none;
}

.form-desription{
	border:none;
}

.input-title{
	margin-top: 15px;
	padding: 25px 0 25px 0px;
	width:100%;
	font-weight: 300;
	font-size:40px;
	border:0;
	border-bottom: 1px solid transparent;
	box-shadow: unset;
}

.input-description{
	padding: 15px 0 15px 0px;
	width:100%;
	font-size:18px;
	font-weight: 300;
	border:0;
	border-bottom: 1px solid transparent;
	box-shadow: unset;
}

.input-custom-focus.form-control{
	transition: .7s all;
}

.input-custom-focus.form-control:focus {
    border-bottom: 1px solid #ccc !important;
    outline: 0 !important;
    -webkit-box-shadow: none !important; 
    box-shadow: none !important; 
}

.input-invi::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c1c1c1 !important;
}

.dropdown-create li{
	display: inline-block;
	margin:3px;
	color:#354D62;
}

.dropdown-create li:first-child{
	margin:3px;
}

.dropdown-create{
	/*min-width: 561px;*/
	background-color: #354D62;
	padding-left: 5px;
	padding-right: 5px;
}

.btn-types{
	background-color: #fff;
	color: #383838;
}
#under-form .panel-default{
	/*border-color: #5d5d5d;*/
	border-color: #2c3d4b;
}
.fa-list-ul:before{
	color: #e68610;
}

#under-form .form-control{
	/*background-color: transparent;
	color: white;*/
	border-color: transparent;
	margin-top: 10px;
}

.sort-opt{
	background-color: #354D62;
	background-color: white;
	border: none;
}
.nav-tabs{
	border-bottom: none;
	background-color: #B5CFD8;
	border-radius: 0;

}
/*.panel .panel-heading{
	color: #354D62;
	padding: unset;
}*/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background-color: #354D62;
}

.formtitle{
	font-size: 30px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a{
	color:#fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{
	color:#fff;
}

.item-options li{
	list-style: none;
	display: inline-block;
	margin:3px;
	color:#354D62;
}

.item-panel{
	background:#EDEDED;
	margin-bottom: 30px;
}




/*=====General Tags=====*/
*{
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #f3f3f3;
	position: relative;
}

/*=====Borders=====*/
.no-border{
	border: none;
}

.transparent-border{
	border-color: transparent;
}

.transparent-border-whover{
	border-color: transparent;
}

.transparent-border-whover:hover{
	border-color: #ddd;
}

.border-top-style-1{
	border-top: 7px solid #354D62;
}

/*=====Panels=====*/
.panel{
	border-radius: 0;
}

.panel-primary-custom{
	/*border-top: 7px solid #354d62;*/
}

.panel-primary-custom > .panel-heading{
	color: #ffffff;
    background-color: #556572;
    background-color: #354d62;
    border-color: #556572;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
}

.panel .input-group{
	margin: 5px 0px 5px 0px;
}

.panel label{
	color: #556572;
}

.panel .form-control{
	/*margin: 5px 0px 5px 0px;*/
}


.downopts .pull-right{
	margin: 0 10px 0 10px;
}

.downopts{
	display: inline-block;
}

.downopts > div{
	display: inline-block;
}
.downopts btn-group{
	vertical-align: middle;
}

/*=====Shadows=====*/
.no-shadow{
	-webkit-box-shadow: none;
     box-shadow: none; 
}

.shadow-style-1{
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .07);
}

/*=====Colors=====*/
.text-lightblue{
	color: #d7f2f7;
}

/*=====Margin=====*/
.no-margin-b{
	margin-bottom: 0;
}

/*=====Buttons=====*/
.btn{
	border-radius: 0;
}

.btn-primary{
	background-color: #354D62;
	border-color: #2e3d4b;
}

.btn-primary:hover{
	background-color: #2e3d4b;
	border-color: #2e3d4b;
}

.btn-orange{
	background-color: #e68610;
	border-color: #e68610;
}

.btn-orange:hover{
	background-color: #e68610;
	border-color: #e68610;
}

.btn-lightblue{	
    background-color: #D7F2F7 !important;
    border-radius: 0;
    color: #383838 !important;
    border-color: #D7F2F7;
}

.btn-transparent{
	background-color: transparent;
	border-color: transparent;
}

.btn-transparent:hover{
	background-color: transparent;
	border-color: transparent;
}


/*=====Typography=====*/

.text-thin{
	font-weight: 300;
}

.text-transwhite{
	color:rgba(255,255,255, 0.6);
}

.text-transwhite:hover{
	color: #D7F2F7; 
}

/*=====Typography=====*/
.hidden{
	display: none;
}

.txt{
	margin-left: 20px;
	font-weight: initial;
}

.box{
	background-color: #ff1;
	height: 500px;
}

.blue-box{
	background-color: #3232ff;
}

.orange-box{
	background-color: #ffa500;