.box{
	background-color: #ff1;
	height: 200px;
	transition: background-color 1s linear;
}

.blue-box{
	background-color: #3232ff !important;
}

.orange-box{
	background-color: #ffa500;
}

.no-round{
	border-radius:0;
}