.boxed{
	background-color: white;
	height: 200px;
	transition: background-color 0.5s linear;
}

.red{
	background-color: red;
}

.blue{
	background-color: blue;
}

.btn{
	border-radius: 0px;
}

.panel{
	border-radius: 0px;
}