/*=====Navbar=====*/

#logo{
	width: 60%;
}

/*=====Login Page=====*/

#login{
	background-image: url('../img/forms-01.jpg'); 
	background-size: cover;
	height: 100vh;
	width: 100%;
}

#login-btn{
	border: none;
	border-radius: 0px;
	background: #354D62;
	color: white;
	margin-top: 30px;
}

#forget{
	color: white;
}

#remember{
	color: white;
}

form a{
	color: white;
}

form a:hover{
	color: #c2c2c2;
}

/*input::-webkit-input-placeholder {
color: white !important;
}

input[placeholder], [placeholder], *[placeholder] {
    color: white !important;
}*/

input .empty{
	font-family: myFontAwesome;
}

#Email{
	box-shadow: none;
	background-color: transparent;
	border-top: unset;
	border-left: unset;
	border-right: unset;
	border-radius: 0px;
	padding: 20px 10px 20px 10px
}

#Password{
	box-shadow: none;
	background-color: transparent;
	border-top: unset;
	border-left: unset;
	border-right: unset;
	border-radius: 0px;
	padding: 20px 10px 20px 10px
}

#remember{
	margin-top: 10px;
	text-align: right;
	color: white;
}

/*=====My Forms===*/

.new-form{
	margin-top: 20px;
}

#search-bar{
	border-radius: 0px;
}

#search-btn{
	border-color: transparent;
	color: white;
	padding-bottom: 7px;
	margin-top: 10px;
	background-color: #e68610;
	/*border-color: #ccc;*/
}

#plus{
	color: #354D62;
	text-decoration: none;
}

#plus:hover{
	color: gray;
}

/*======Create Form=====*/


.checkbox{
	color:white;
	padding: 0;
}


#under-form{
	overflow: auto;
	color: white;
	background-color: #354D62;
	/*height: 100%;*/
	position: fixed;
	width: 100%;
	bottom: 0;
	padding-top: 25px;
}

@media(max-width: 425px){
	#under-form{
		height: 50%;
	}
}

@media(max-width: 768px){
	#under-form{
		height: 50%;
	}
}

#under-form .form-control{
	box-shadow: none;
}

#add-btn{
	margin: auto;
	position: relative;
	width: 100%;
	height: 100px;
	font-size: 50px;
	background-color: white;
	border-style: none;
}

@media (max-width: 425px){
	form{
		width: 100%;
	}
}

@media (max-width: 768px){
	#add-btn{
		width: 100%;
	}
}

#upper-form {
	padding-bottom: 300px;
	margin-top:70px;
}

#upper-form .search-group{
	margin-top: 15px;
	margin-bottom: 15px;
}

.editlabel{
	padding: 5px;
    margin-bottom: 0;
}

.editlabel[contentEditable=true]:empty:not(:focus)::before{
  content:attr(place-text);
  color:grey;
  box-sizing: border-box;
}

.recent-forms .panel-default{
	
}


/*=====Slider======*/

#slider{
	width: 20%;
}

.form-control{
	border-radius: 0;
}

.input-group-addon{
	border-radius: 0;
}

#panel-create{
	margin-top:80px;
}


/*====PREVIEW========*/

.prev{
	padding: 20px 25px 20px 25px;
}

.prev h5{
	font-weight: initial;
}

.btn-orange{
	color: white;
}

#prevmodal btn-default{
	position: right;
}